body {
	margin: 0 auto;
	width: 100%;
	max-width: 1200px;
}

h1 {
	font-size: 40px;    
	line-height: 47px;     
	text-shadow: 2px 2px 10px grey;  
}

/*header*/
header {
	overflow: auto;
	margin-bottom: 4px;
	border-bottom: 5px solid blue;
}
#brand {
	float: left;
	padding: left 5px;
	padding-top: 15px;
	text-align: center;
	width: 275px;
}
nav {
	float: right;
	margin-top: 25px;
}
nav a {
	margin-left: 15px;
	display: inline-block;
	border-left: 2px solid #efefef;
	padding-left: 15px;
	padding-right: 10px;
	line-height: 20px;
}
nav a: first-child {
	border-left: 0 none;
}

/* body */
#hero {
	margin: auto;
	border-bottom: 3px solid green;
	padding: 10px;
}
#about-me {

}
#projects {

}
#contact-me {

}

/*contact form*/
form {
  /* Just to center the form on the page */
  margin: 0 auto;
  width: 400px;
  /* To see the outline of the form */
  padding: 1em;
  border: 1px solid #CCC;
  border-radius: 1em;
}

form div + div {
  margin-top: 1em;
}

label {
  /* To make sure that all labels have the same size and are properly aligned */
  display: inline-block;
  width: 90px;
  text-align: right;
}

input, textarea {
  /* To make sure that all text fields have the same font settings
     By default, textareas have a monospace font */
  font: 1em sans-serif;

  /* To give the same size to all text fields */
  width: 300px;
  box-sizing: border-box;

  /* To harmonize the look & feel of text field border */
  border: 1px solid #999;
}

input:focus, textarea:focus {
  /* To give a little highlight on active elements */
  border-color: #000;
}

textarea {
  /* To properly align multiline text fields with their labels */
  vertical-align: top;

  /* To give enough room to type some text */
  height: 5em;
}

.button {
  /* To position the buttons to the same position of the text fields */
  padding-left: 90px; /* same size as the label elements */
}

button {
  /* This extra margin represent roughly the same space as the space
     between the labels and their text fields */
  margin-left: .5em;
}

footer {
	margin-top: 5px;
	border-top: 3px solid black;
	padding: 8px;
	text-align: center;
	color: black
	font-size:20px;
	line-height: 25px;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#c5deea+0,8abbd7+31,066dab+100;Web+2.0+Blue+3D+%231 */
	background: #c5deea; /* Old browsers */
	background: -moz-radial-gradient(center, ellipse cover, #c5deea 0%, #8abbd7 31%, #066dab 100%); /* FF3.6-15 */
	background: -webkit-radial-gradient(center, ellipse cover, #c5deea 0%,#8abbd7 31%,#066dab 100%); /* Chrome10-25,Safari5.1-6 */
	background: radial-gradient(ellipse at center, #c5deea 0%,#8abbd7 31%,#066dab 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c5deea', endColorstr='#066dab',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */;
}